* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text{
  font-size: 3vmin;
}
.screen{
  background-image: url('../lib/img/background.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20vmin;
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 50vmin;
      margin-bottom: 5vmin;
    }
  }
}

.game {
  background-image: url('../lib/img/background.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 20px;
  &__prime{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5vmin;
    // background-color: orange;
  }
  &__logo{
    width: 40vmin;
    margin-bottom: 20px;
  }
  &__msgs-rigth{
    // background-color: violet;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 5vmin;
    img{
      width: 10vmin;
    }
  }
  &__message{
    background-color: white;
    width: 15vmin;
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 4vmin;
  }
}

.matrix {
  background-color: blue;
  width: 50vmin;
  height: 50vmin;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
  outline: solid white 6px ;
  margin-bottom: 20px;

  .cell {
    border: solid white 1px;
    width: 10vmin;
    height: 10vmin;
    background-color: gray;
    cursor: pointer;
    &:hover{
      border: solid #00FFFF 4px;
    }
  }
}

button {
  background: #3762EF;
  color: white;
  padding: 6px;
  width: 8em;
  border-radius: 5px;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  &:hover{
    background: #234bcd;
  }
  
}

.hidden {
  display: none;
}

.active {
  color: green;
}
.wrong {
  color: red;
}
.result{
  width: 100vw;
  height: 100vh;
  img{
    width: 100%;
  }
}
.loose{
  background-color: #B6744F;
}
.win{
  background-color: #3762EF;
}
