@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Londrina Solid", cursive;
}

.innit-message-start {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 6vmin;
  color: #3762ef;
}

.text {
  font-size: 3vmin;
}

.screen {
  background-image: url("../lib/img/background.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20vmin;
}

.screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen__content img {
  width: 50vmin;
  margin-bottom: 5vmin;
}

.instructions {
  position: relative;
  width: 100vw;
}

.instructions video {
  width: 100%;
}

.instructions button {
  font-size: 3vmin;
  position: absolute;
  bottom: -2vmin;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.game {
  background-image: url("../lib/img/background.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.game__prime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5vmin;
}

.game__logo {
  width: 40vmin;
  margin-bottom: 20px;
}

.game__msgs-rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 5vmin;
}

.game__msgs-rigth img {
  width: 10vmin;
}

.game__message {
  background-color: white;
  width: 15vmin;
  height: 10vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vmin;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin-bottom: 4vmin;
}

.matrix {
  position: relative;
  background-color: blue;
  width: 50vmin;
  height: 50vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  overflow: hidden;
  outline: solid white 6px;
  margin-bottom: 20px;
}

.matrix .cell {
  border: solid white 1px;
  width: 10vmin;
  height: 10vmin;
  background-color: gray;
  cursor: pointer;
}

.matrix .cell:hover {
  border: solid #00ffff 4px;
}

button {
  background: #3762ef;
  color: white;
  padding: 6px;
  width: 8em;
  border-radius: 5px;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:hover {
  background: #234bcd;
}

.hidden {
  display: none;
}

.active {
  color: green;
}

.wrong {
  color: red;
}

.result {
  width: 100vw;
  height: 100vh;
}

.result img {
  width: 100%;
}

.loose {
  background-color: #b6744f;
}

.win {
  background-color: #3762ef;
}

.time {
  color: #3762ef;
}

.level-msgs {
  color: #12b388;
}
/*# sourceMappingURL=main.css.map */