@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Londrina Solid", cursive;
}
.innit-message-start {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 6vmin;
  color: #3762ef;
}
.text {
  font-size: 3vmin;
}
.screen {
  background-image: url("../lib/img/background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20vmin;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 50vmin;
      margin-bottom: 5vmin;
    }
  }
}
.instructions {
  position: relative;
  width: 100vw;
  video {
    width: 100%;
  }
  button {
    font-size: 3vmin;
    position: absolute;
    bottom: -2vmin;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
}
.game {
  background-image: url("../lib/img/background.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 20px;
  &__prime {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5vmin;
    // background-color: orange;
  }
  &__logo {
    width: 40vmin;
    margin-bottom: 20px;
  }
  &__msgs-rigth {
    // background-color: violet;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 5vmin;
    img {
      width: 10vmin;
    }
  }
  &__message {
    background-color: white;
    width: 15vmin;
    height: 10vmin;
    display: flex;
    padding: 2vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 4vmin;
  }
}

.matrix {
  position: relative;
  background-color: blue;
  width: 50vmin;
  height: 50vmin;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
  outline: solid white 6px;
  margin-bottom: 20px;

  .cell {
    border: solid white 1px;
    width: 10vmin;
    height: 10vmin;
    background-color: gray;
    cursor: pointer;
    &:hover {
      border: solid #00ffff 4px;
    }
  }
}

button {
  background: #3762ef;
  color: white;
  padding: 6px;
  width: 8em;
  border-radius: 5px;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  &:hover {
    background: #234bcd;
  }
}

.hidden {
  display: none;
}

.active {
  color: green;
}
.wrong {
  color: red;
}
.result {
  width: 100vw;
  height: 100vh;
  img {
    width: 100%;
  }
}
.loose {
  background-color: #b6744f;
}
.win {
  background-color: #3762ef;
}
.time {
  color: #3762ef;
}
.level-msgs {
  color: rgb(18, 179, 136);
}
